:root {
    --round: 1.25rem;
}

.page {
    overflow: hidden;
    height: 35rem;
    width: 22.5rem;
    position: relative;
    /* temp settings */
    /* position: absolute;
    top: 5rem;
    left: 5rem; */
    width: 80%;
    height: 80%;
}

.page-outer {
    height: 90%;
    width: 95%;
    background-color: #6f0000;
    border-top-right-radius: var(--round);
    border-bottom-right-radius: var(--round);
    position: absolute;
    top: 5%;
    -webkit-box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3); 
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
}

.page-inner {
    height: 100%;
    width: 100%;
}

.page-content {
    height: 100%;
    width: 100%;
}

.page-centered-header-text {
    width: 100%;
    /* font-size: 36pt; */
    font-size: 100pt;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 3.5rem;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

#snowman {
    width: 90%;
    margin-left: 5%;
    /* margin-top: 11rem; */
    margin-top: 50%;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.2));
}
#book {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}