@keyframes snowflakes-shake {
	0%,
	100% {
		transform: translateX(0)
	}
	50% {
		transform: translateX(20px)
	}
}

.snowflake {
    color: white;
    position: absolute;
    top: -1rem;
    left: 0px;
    font-size: 16pt;
    animation: upDown 1.5s alternate infinite ease-in-out;

}

.snowflake-0 {
    animation-delay: 0s;
}

.snowflake-1 {
    animation-delay: 0s;
}

.snowflake-2 {
    animation-delay: .4s;
}
.snowflake-3 {
    animation-delay: .4s;
}
.snowflake-4 {
    animation-delay: .2s;
}

@keyframes upDown {
    to { transform: translatex(30px);}
}
@keyframes translate {
    to { transform: translatex(900%);}
}

.snowflakes {
    height: 100%;
    width: 100%;
    position:relative;
    overflow:hidden;
    background: #082f3d;
    background: radial-gradient(circle, rgba(12,65,84,1) 0%, rgba(8,47,61,1) 100%);
}

.snowflake {
    font-size: 80pt;
    opacity: 0.9;
}

.snowflake-middle {
    
}

.snowflake-far {
    font-size: 40pt;
    opacity: 0.3;
}


/*
snowflake
*/

.sf {
    position: absolute;
    color: white;
    animation: upDown 1.5s alternate infinite ease-in-out, rotate-sf 12s alternate infinite ease-in-out;
}

.sf-large {
    font-size: 160pt;
    opacity: 0.9;
}

.sf-medium {
    font-size: 145pt;
    opacity: 0.8;
}

.sf-small {
    font-size: 135pt;
    opacity: 0.65;
}

@keyframes rotate-sf {
    to { transform: rotate(-200deg);}
}